<h1>New Videos</h1>
<div class="raw">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/error_messages', object: @video%>
    <%= form_for(@video) do |f|%>
      <%= f.label :name%>
      <%= f.text_field :name, class: 'form-control'%>
      <%= f.label :url%>
      <%= f.text_field :url, class: 'form-control' %>
      <%= f.label :discription%>
      <%= f.text_area :discription, class: 'form-control'%>
      
      <%= fields_for @video.genres do |fl|%>
        <% @genres.each do |genre|%>
          <%= f.label "#{genre.name}"%>
          <%= f.check_box :genres,{multiple: true},checked_value = genre.id,nil%>
        <% end %>
      <% end %>
      
      
      <%= f.submit class: 'btn btn-primary'%>
      
    <% end %>
  </div>
</div>